.homeGalleryView{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}


.galleryView{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    margin-left: 10px;
}

@media (max-width:1000px) {
    .price-card .btn{
        width: 100% !important;
    }
}

@media (max-width:768px) {
    .homeGalleryView{
        grid-template-columns: repeat(4, 1fr);
    }
    .galleryView{
        grid-template-columns: repeat(4,1fr);
    }
}


@media (max-width:485px){
    .homeGalleryView {
        grid-template-columns: 1fr;
    }
}

@media (max-width:425px){
    .galleryView{
        display: flex;
        flex-wrap: wrap;
    }
}

.container.aman{

    margin-left: 570px;
}